<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     G00439457
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" aria-label="Favorites">
        <ion-icon slot="icon-only" name="heart" color="primary" aria-label="Favorite"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="primary" aria-label="Settings">
        <ion-icon slot="icon-only" name="settings" color="primary" aria-label="Settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input
    label="Search by Ingredients"
    placeholder="Ingredient1,Ingredient2..."
    [(ngModel)]="Ingredients">
  </ion-input>

  <ion-button (click)="searchRecipesByIngredient()">
    Search Recipes
  </ion-button>

  <!-- Show recipes on the homepage (only after pressing Search) -->
  <app-recipes [ingredients]="searchedIngredients"></app-recipes>

</ion-content>
