<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     G00439457
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input
    label="Search by Ingredients"
    placeholder="Ingredient1,Ingredient2..."
    [(ngModel)]="Ingredients">
  </ion-input>

  <ion-button (click)="searchRecipesByIngredient()">
    Search Recipes
  </ion-button>

  <!-- Show recipes on the homepage (only after pressing Search) -->
  <app-recipes [ingredients]="searchedIngredients"></app-recipes>

</ion-content>
