<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-radio-group [value]="unitPreference" (ionChange)="onPreferenceChange($event)">
      <ion-item>
        <ion-label>Metric (g and kg)</ion-label>
        <ion-radio slot="end" value="metric"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Imperial (lbs and ounces)</ion-label>
        <ion-radio slot="end" value="imperial"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-content>
    <ion-button (click)="returnToHome()">
    Return to Home Page
  </ion-button>
  </ion-content>
</ion-content>
